.banner {
  background-color: #f4f5f7;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas: 'title image'
                       'button image';                   
  margin: 0 50px 0 50px;
  height: 300px;
}

@media screen and (max-width: 727px) {
  .banner {
    margin: 0;
  }
  }